 body {
     background-color: #574e51;
     color:wheat;
 }

.container-fluid {
    position: relative;
    padding: 0;
}

.skillsIcon{
    display: block;
    position: center;
    left: 30%;
}

.content {
    position: absolute; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    top: 10%;
    left: 10%;
    width: 80%;
    z-index: 2;
    font-weight: bold;
 
  }

.modalImage{
    position: relative;
    background-color: #6e686a;
    height: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: wheat;
}

.modal-body{
    font-weight: bold;
}

.cursive{
    font-family: Brush Script MT;
}

.padding{
    padding: 75px 0px;
}

.margin {
    margin: 75px 0px; 
}

.image{
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

a:focus {
    outline: none !important
}

#Experience{
    padding: 0;
    margin: 0;
}

.experience {
    background: rgba(44, 33, 33, 0.5); 
    color: wheat !important; 
    width: 100%; 
    align-items: center;
    display: flex;
}

.photo{
    align-items: center;
    display: flex;
    margin: auto;
}
.social-buttons {
    border-radius: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 4px;

}

.social-buttons a:hover,
.social-buttons a:focus,
.social-buttons a:active {
    background-color: #0066cc;
}

a{
color: wheat !important;
}